<% provide(:title, "Home") %>

<p class="main-par">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec elementum leo leo, eu auctor erat pulvinar ut. Ut non velit finibus justo consectetur vestibulum. Fusce bibendum at libero vel tristique. Suspendisse eu metus sed lorem molestie finibus et at justo. Donec eleifend at ipsum sed dictum. Maecenas vitae ex nunc. In hac habitasse platea dictumst. Nunc a nulla magna. Curabitur auctor libero sed eros mattis, in feugiat turpis condimentum. Proin convallis dignissim venenatis. Vestibulum augue arcu, sodales vitae maximus nec, sodales sit amet ipsum. Praesent hendrerit dolor enim, nec vulputate arcu ornare ac.
</p>
