<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
    <h1>Stellar Techies</h1>
    
    <p>
      Hi <%= @cr.name %>
    </p>
        also <%= @test %>
    <p>
        
    </p>
    <p>
        We will respond to your message as soon as possible.
    </p>
    
    <p>
        Message from you: <%= @cr.message %>
    </p>
</body>
</html>