<!DOCTYPE html>
<html>
<head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
    <h1> Hi <%= @cr.name %>,</h1>
    
    <p>
     Thank you for contacting Stellar Techies.  We will respond to you within 1-2 business days.
    </p>
   
    <p>Here is a copy of the message you sent us for your reference:</p>
    <p>
       <%= @cr.message %>
    </p>
    
    <p>Have a great day and reach for the stars!</p>
</body>
</html>